// Add your custom CSS here.
.header {
    background-color: #000;
    padding: 0;

    &__logo-block {
        padding: 30px !important;
    }

    &__container {
        margin-top: 0 !important;
    }

    #user-button, #cart-button {
        i {
            color: var(--primary)
        }
    }

    &__buttons {
        padding-right: 15px;
    }

    &__page-links {
        a {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    #search-form {
        border-radius: 20px;
    }
    
    &__nav-block {
        a {
            margin-top: 0;
            padding: 12px 10px;
        }
        padding-left: 0;
        background-color: #fff;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__container {
        margin-bottom: 0;
    }

    &__submenu {
        margin-top: 1px !important;
    }

    #cd-all {
        background-color: #000;
        border-radius: 0;
        padding-left: 30px;
        color: var(--primary);
        i {
            color: var(--primary)
        }
    }
}

.products-carousel__item {
    background-color: #F3F3F3 !important;
}

#category-carousel {
    img {
        width: 100%;
        height: auto;
        max-height: 140px;
        max-width: auto;
        border-radius: 100%;
        object-fit: cover;
    }
}

.products-carousel__title::before {
    background: var(--primary) 0% 0% no-repeat padding-box;
    content: " " !important;
    height: 4px;
    left: unset;
    margin-top: -.05rem;
    position: absolute;
    top: 80%;
    width: 16%;
}

.banners-grid.opt-2 .row > div {
    padding-left: 2px;
    padding-right: 2px;
}

.footer {
    background-color: #000;
    * {
        color: var(--primary)
    }
}

.quantity-selector__btn-container {
    align-items: center;
    border: .1rem solid #ecedee;
    border-radius: 0 !important;
    display: flex;
    line-height: 36px !important;
    margin: 0;
    min-height: 60px;
    padding: 0 10px;
    text-align: center;
    width: auto !important;
}

.quantity-selector__item i.i-chevron-down::before {
    content: "-";
    font-size: 22px;
}

.quantity-selector__item i.i-chevron-up::before {
    content: "+";
    font-size: 22px;
}

.quantity-selector__input {
    border-color: transparent;
    font-size: 22px !important;
}

.quantity-selector__label button {
    border-radius: 0;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    min-height: 60px;
    padding: 10px 50px;
    text-transform: uppercase;
}

@media(max-width: 767px) {
    .header__toggler i, #mobile-search-btn {
        color: var(--primary);
    }
    .banners-grid .banner {
        width: 100%;
    }
}